@charset "UTF-8";

html {}

html,
body {
    margin: 0;
    background: #007ecc;
    background: linear-gradient(180deg, rgba(0, 126, 204, 1) 40%, rgba(245, 224, 34, 1) 100%);
    height: 100%;
}

#title-open {
    padding: 20px;
}

#container {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 350px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 50px;
    color: #fff;
    margin-top: 50px;
}

.header-login {
    margin: 130px 0, 0, 0;
}

.title-open {
    padding: 30px 0px;
    font-size: 25px;
}

.input {
    height: 70%;
    width: 80%;
    border-radius: 10px;
    /*角丸める*/
}

.form-mail,
.form-password {
    height: 50px;
}

.name-mail {
    padding: 5px;
    margin-right: 50%;
}

.name-password {
    padding: 5px;
    margin-right: 59%;
    margin-top: 20px;
}

.button-submit {
    background-color: #EF4A5B;
    color: white;
    border-radius: 10px;
    width: 120px;
    font-size: 18px;
    margin: 15px 190px 0;
    padding: 50px, 0px;
    border: none;
    height: 40px;
    letter-spacing: -3px;
}

.login-button {
    margin: 1%;
}

.new-user {
    text-align: center;
    margin-top: 40px;
}

.new-user a {
    color: white;
    text-decoration: underline;
}

h1 {
    /* background-color: #ccc; */
    /* 幅を小さくして要素を真ん中に持ってくる */
    width: 200px;
    margin: 0 auto;
    padding: 50px 0 0 0;
}

h1 img {
    width: 90%;
}

.sub-text {

    color: #fff;
    font-size: 32px;
    font-weight: bold;
    /* ブロック要素で中央揃えをする方法 */
    text-align: center;
    padding-bottom: 35px;
    width: 98%;

}

/*新規登録ページ*/

.newSubmit {
    margin-left: 155px;
    padding: 10px;
}

.new-submit {
    background-color: #EF4A5B;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    border: none;
    height: 45px;
    width: 125px;
}

.backLogin {
    margin-top: 30px;
}

.inputName,
.inputMail,
.inputPassword,
.inputPassword_confirmation {
    height: 50px;
}

.newName {
    padding: 5px;
    margin-right: 60%;
    margin-top: 10px;
}

.newMail {
    padding: 5px;
    margin-right: 50%;
    margin-top: 10px;
}

.newPassword {
    padding: 5px;
    margin-right: 60%;
    margin-top: 10px;
}

.newPassword_confirmation {
    padding: 5px;
    margin-right: 50%;
    margin-top: 10px
}

.newUser {
    padding: 20px;
    font-size: 20px;
}

/*新規登録後の画面*/

.nowUser {
    font-weight: bold;
    font-size: 22px;
    padding-top: 30px;
}

.title1 {
    font-weight: bold;
    font-size: 20px;
}

.title1 {
    margin-bottom: 30px;
}

.title3 {
    margin-bottom: 30px;
    font-size: 16px;
    padding: 5px;
}

.btn {
    background-color: #F05D5D;
    color: white;
    border-radius: 10px;
    width: 150px;
    font-size: 16px;
    margin: auto;
    padding: 10px;
}

/*バリデーションエラー*/
.alert-danger {
    color: #dc3545;
    /* 赤色の文字 */
    font-size: 0.875em;
    /* 少し小さめのフォントサイズ */
    margin-top: 5px;
    /* 上部の余白 */
}
